MVC_WCF_Relation (2)/MVC_WCF_Relation/MVC_WCF_Relation/WcfService1/MvcApplication2/Service References/ServiceReference1/CRUDService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="exam">
    <xs:sequence>
      <xs:element minOccurs="0" name="examid" type="xs:decimal" />
      <xs:element minOccurs="0" name="per" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="rno" type="xs:decimal" />
      <xs:element minOccurs="0" name="sem" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="exam" nillable="true" type="tns:exam" />
  <xs:complexType name="ArrayOfexam">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="exam" nillable="true" type="tns:exam" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfexam" nillable="true" type="tns:ArrayOfexam" />
  <xs:complexType name="stud">
    <xs:sequence>
      <xs:element minOccurs="0" name="course" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rno" type="xs:decimal" />
      <xs:element minOccurs="0" name="sname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="stud" nillable="true" type="tns:stud" />
  <xs:complexType name="ArrayOfstud">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stud" nillable="true" type="tns:stud" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstud" nillable="true" type="tns:ArrayOfstud" />
</xs:schema>