MVC_WCF_Relation (2)/MVC_WCF_Relation/MVC_WCF_Relation/WcfService1/MvcApplication2/Service References/ServiceReference1/CRUDService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CRUDService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1187/CRUDService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1187/CRUDService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1187/CRUDService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICRUDService_InsertExam_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertExam" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_InsertExam_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertExamResponse" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_UpdateExam_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExam" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_UpdateExam_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExamResponse" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_SearchExam_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchExam" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_SearchExam_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchExamResponse" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_DeleteExam_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExam" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_DeleteExam_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExamResponse" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_showallexam_InputMessage">
    <wsdl:part name="parameters" element="tns:showallexam" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_showallexam_OutputMessage">
    <wsdl:part name="parameters" element="tns:showallexamResponse" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_InsertStud_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertStud" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_InsertStud_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertStudResponse" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_UpdateStud_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStud" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_UpdateStud_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudResponse" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_SearchStud_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchStud" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_SearchStud_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchStudResponse" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_DeleteStud_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStud" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_DeleteStud_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudResponse" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_showallstud_InputMessage">
    <wsdl:part name="parameters" element="tns:showallstud" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_showallstud_OutputMessage">
    <wsdl:part name="parameters" element="tns:showallstudResponse" />
  </wsdl:message>
  <wsdl:portType name="ICRUDService">
    <wsdl:operation name="InsertExam">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUDService/InsertExam" message="tns:ICRUDService_InsertExam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUDService/InsertExamResponse" message="tns:ICRUDService_InsertExam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExam">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUDService/UpdateExam" message="tns:ICRUDService_UpdateExam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUDService/UpdateExamResponse" message="tns:ICRUDService_UpdateExam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchExam">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUDService/SearchExam" message="tns:ICRUDService_SearchExam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUDService/SearchExamResponse" message="tns:ICRUDService_SearchExam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteExam">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUDService/DeleteExam" message="tns:ICRUDService_DeleteExam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUDService/DeleteExamResponse" message="tns:ICRUDService_DeleteExam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="showallexam">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUDService/showallexam" message="tns:ICRUDService_showallexam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUDService/showallexamResponse" message="tns:ICRUDService_showallexam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertStud">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUDService/InsertStud" message="tns:ICRUDService_InsertStud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUDService/InsertStudResponse" message="tns:ICRUDService_InsertStud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStud">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUDService/UpdateStud" message="tns:ICRUDService_UpdateStud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUDService/UpdateStudResponse" message="tns:ICRUDService_UpdateStud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchStud">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUDService/SearchStud" message="tns:ICRUDService_SearchStud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUDService/SearchStudResponse" message="tns:ICRUDService_SearchStud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStud">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUDService/DeleteStud" message="tns:ICRUDService_DeleteStud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUDService/DeleteStudResponse" message="tns:ICRUDService_DeleteStud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="showallstud">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUDService/showallstud" message="tns:ICRUDService_showallstud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUDService/showallstudResponse" message="tns:ICRUDService_showallstud_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICRUDService" type="tns:ICRUDService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertExam">
      <soap:operation soapAction="http://tempuri.org/ICRUDService/InsertExam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateExam">
      <soap:operation soapAction="http://tempuri.org/ICRUDService/UpdateExam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchExam">
      <soap:operation soapAction="http://tempuri.org/ICRUDService/SearchExam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteExam">
      <soap:operation soapAction="http://tempuri.org/ICRUDService/DeleteExam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showallexam">
      <soap:operation soapAction="http://tempuri.org/ICRUDService/showallexam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertStud">
      <soap:operation soapAction="http://tempuri.org/ICRUDService/InsertStud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStud">
      <soap:operation soapAction="http://tempuri.org/ICRUDService/UpdateStud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchStud">
      <soap:operation soapAction="http://tempuri.org/ICRUDService/SearchStud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStud">
      <soap:operation soapAction="http://tempuri.org/ICRUDService/DeleteStud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showallstud">
      <soap:operation soapAction="http://tempuri.org/ICRUDService/showallstud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CRUDService">
    <wsdl:port name="BasicHttpBinding_ICRUDService" binding="tns:BasicHttpBinding_ICRUDService">
      <soap:address location="http://localhost:1187/CRUDService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>